body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.logo-img {
    max-height: 70px!important;
    padding: 20px 0!important;
    margin-left: 10px;
}

table {
  word-wrap:break-word;
  table-layout: fixed;
}